<!DOCTYPE html>
<html>
<head>
	<title>Shows</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a href="{{ url_for('BlackBox')}}">Home</a></li>
        <li ><a href="{{ url_for('show')}}">Shows</a></li>
        {% if current_user.get_id()!=None %}
         <li><a href="{{ url_for('bookinghistory')}}">Booking History</a></li>
        {% endif %}
        {% if current_user.admin == 1 %}
		      <li ><a href="{{ url_for('addmovie')}}">Add more movies</a></li>
        <li ><a href="{{ url_for('deletemovie')}}">Delete movies</a></li>
          
	     {% endif %}
        <li class="active"><a href="{{ url_for('wallet') }}">Wallet</a></li>

        <li ><a href="#">Contact</a></li>
      </ul>
      {% if current_user.get_id()==None %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('register')}}" ><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('logintoblackbox')}} "><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
      {% endif %}

      {% if current_user.get_id()!=None %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('logout')}} "><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#" ><span class="glyphicon glyphicon-log-in"></span>  Hello {{current_user.firstname}}</a></li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>
<div class="container">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="jumbotron " style="margin-top: 150px">
      <span><center>Available Balance: {{ wallet_balance }} </center> </span>
    </div>
    <div>
        <h3><center>Add Money </center></h3>
        <br>
        <form method="post">
          <div class="form-group">
            <input type="number" class="form-control" id="money" name="money" placeholder="Enter Amount"  min="10" required>
          </div>
           <br>
          <button type="submit" class="btn-primary form-control">Add Money</button>
        </form>
        <div class="col-lg-4"></div>
      </div>
    </div>
  </div>
</body>
</html>
